.item {
  //margin-top: 10px;
  //display: flex;
  //align-items: center;
}

.icon {
  fill: var(--inverted-primary-color);
}

.link {
  margin-left: 10px;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}
