.NotificationButton {

}

.notifications {
    min-height: 150px;
    max-height: 300px;
    overflow-y: auto;
    width: 500px;
}

.btn {
    border: none;
}

.bell {
    height: 20px;
    width: 20px;
}
