.app_orange_theme {
    --bg-color: #ff9b00;
    --inverted-bg-color: #FBF8F4;
    --primary-color: #D61200;
    --secondary-color: #FBF8F4;
    --inverted-primary-color: #D61200;
    --inverted-secondary-color: #ff9b00;
}
