.trigger {

}

.options {
    background: var(--card-bg);
    position: absolute;
    z-index: 100;
    border-radius: 12px;
}

.option {
    border-radius: 12px;
    padding: 10px 12px;
    cursor: pointer;
}


.label {
    margin-right: 10px;
}


