.Navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    padding: 20px;
}

.links,
.dropdown {
    margin-left: auto;
}

.mainLink {
    margin-right: 15px;
}

.appName {
    width: 200px;
    margin-left: 15px;
}
.createLink {
    margin-left: 15px;
}

.bell {
    height: 20px;
    width: 20px;
}

.btn {
    border: none;
}

.actions {
    margin-left: auto;
}

.notifications {
    min-height: 150px;
    max-height: 300px;
    overflow-y: auto;
    width: 500px;
}
