.LoginForm {
    display: flex;
    flex-direction: column;
    width: 400px;
    color: var(--primary-color);
}

.input {
    margin-top: 10px;
    color: var(--primary-color);
}

.loginBtn {
    margin-top: 15px;
    margin-left: auto;
}
