.Card {
    background: var(--card-bg);
    padding: 15px;
    border-radius: 12px;
}

.normal {
    background-color: var(--primary-color);

}

.outlined {

    border: 1px solid var(--primary-color);
}
